.wrap .header{
	background: goldenrod;
	/*height: 50px;*/
	padding: 2px 10px;
	font-family: century gothic;
}
.wrap .menu{
	background: white;
	font-family: century gothic;
}
.wrap .menu{
	background: white;
	font-family: century gothic;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: khaki ;
	font-family: century gothic;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	font-family: century gothic;
	padding: 10px;
}
table,tr,td{
	background-color: gold ;
	font-family: century gothic;
	color: black;
	border: 1px solid sienna;
	padding: 5px;
	border-collapse: collapse;
}
.h{
	border: 8px groove gold;
	padding: 20px;
}
.posisi{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
}
body{
	background-image: url('img.JPG');
	background-repeat: no-repeat;
	background-size: 1400px auto;
}
.wrap .footer{
	background: red;
	width: 100%;
	font-family: century gothic;
	padding: 10px;
}